/* CSS for our Shop page */



.shop-header {
    background-image: url('https://www.hdcarwallpapers.com/walls/lamborghini_aventador_svj_roadster_5k_2-HD.jpg');
    background-size: cover;
    height: 700px;
    color: white; 
}

.shop-stats {
    color: white; 
}